<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Todo Application</title>
</head>
<body>
    <div class="container">
        <h1 class="my-5">Todo Application</h1>
        <table class="table table-bordered">
            <a th:href="@{~/todo/add}" class="btn btn-primary mb-3">Create todo</a>
            <div class="mb-2">
                <span>Filter by:</span>
                <a class="ml-3" th:href="@{'/todos/filter/' + ${T(com.laylasahara.todoapp.model.Category).PENDING}}">Pending</a>
                <a class="ml-3" th:href="@{'/todos/filter/' + ${T(com.laylasahara.todoapp.model.Category).INPROGRESS}}">Inprogress</a>
                <a class="ml-3" th:href="@{'/todos/filter/' + ${T(com.laylasahara.todoapp.model.Category).DONE}}">Done</a>
            </div>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Category</th>
                    <th scope="col">Status</th>
                    <th scope="col">CreatedAt</th>
                    <th scope="col">UpdatedAt</th>
                    <th scope="col">CompletedAt</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="todo, iterator : ${todos}">
                    <th scope="row" th:text="${iterator.count}">1</th>
<!--                    th:text="${todo.title}">Title-->
                    <td><a th:href="@{'/todo/' + ${todo.id}}" th:text="${todo.title}">Title</a></td>
                    <td th:text="${todo.category}">Category</td>
                    <td th:text="${todo.status} ? 'Complete' : 'Incomplete'">Status</td>
                    <td th:text="${todo.createdAt}">Created</td>
                    <td th:text="${todo.updatedAt} ?: '---'">Updated</td>
                    <td th:text="${todo.completedAt} ?: '----'">Completed</td>
                    <td>
                        <a th:href="@{'/todo/update/' + ${todo.id}}" class="btn btn-outline-secondary btn-sm">Edit</a>
                    </td>

                    <td>
                        <a th:href="@{'/todo/delete/' + ${todo.id}}" class="btn btn-outline-danger btn-sm">Remove</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>